.imagen-header{
    text-align: center;
}

.curriculumVitae{
    text-align: center;
    background-color: #C4C4C4;
    color: #005677;
    font-weight: 700;
    font-size: 35px;
    line-height: 84.69%;
}